[Unit]
Description=Lipstick on a Pig
Documentation=https://codeberg.org/small-tech/lipstick/src/README.md

[Service]
Type=simple
RestartSec=5
Restart=always
ExecStart=%h/.local/bin/lipstick monitor

[Install]
WantedBy=default.target
